/*PC size*/
@media all and (min-width: 1401px) {
	.top-wrapper {
		
		background-size: 50%;
		background-position: 55% 25%;
	}
}

@media all and (max-width: 1400px) {
	/*Top*/
	.top-wrapper {
		background-size: 55%;
		background-position: 55% 20%;
	}
}

@media all and (max-width: 1330px) {
	/*Team*/
	.marria-img {
		width: 90%;
	}
}

@media all and (max-width: 1308px) {
	/*Team*/
	.marria-text {
		width: 280%;
	}

}

@media all and (max-width: 1300px) {
	/*Top*/
	.top-wrapper {
		background-size: 60%;
	}

	/*Products*/
	.seemore p a {
		font-size: 12px;
	}
	.p-txt {
		margin-bottom: 8%;
	}
}

@media all and (max-width: 1250px) {
	/*Team*/
	.marria-text {
		width: 250%;
	}
}

@media all and (max-width: 1201px) {
	/*Top*/
	.btn {
		top: 85%;
	}
}

@media all and (max-width: 1200px) {
	/*Top*/
	.top-wrapper {
		background-size: 65%;
	}
}

@media all and (max-width: 1194px) {
	/*Top*/
	.top-wrapper h1 {
		/*font-size: 45px;*/
		width: 75%;
	}

	.btn {
		left: 75%;
	}

	/*Products*/
	.product {
		width: 65%;
	}

	/*Team*/
	.team-wrapper {
		padding-bottom: 17%;
	}

	.marria {
		display: block;
		width: 50%;
		margin: 5% auto 3% auto;
		padding: 3% 4% 8% 4%;
	}

	.marria-img {
		width: 55%;
		margin: 0 auto;
		padding-bottom: 10px;
	}

	.marria-text {
		width: 93%;
		text-align: center;
	}

	.marria-text h3 {
		margin: 3% auto;
	}

	.seeteam p {
		text-align: center;
		margin: -9% auto; 
	}


	/*News*/
	.nsd-2-3 {
		display: none;
	}

	.seenews p {
		margin-top: -4.5%;
	}
}

@media all and (max-width: 1100px) {
	/*Top*/
	.top-wrapper {
		background-size: 70%;
	}

	/*Products*/
	.product {
		padding-left: 6%;
	}

	/*Team*/
	.marria {
		width: 55%;
	}
}

@media all and (max-width: 1086px) {
	/*Top*/
	.top-wrapper {
		height: 500px;
	}

	.top-wrapper h1 {
		font-size: 45px;

	}

	.top-wrapper p {
		font-size: 24px;
	}

	.btn {
		padding: 12px;
	}
}

@media all and (max-width: 1043px) {
	/*News*/
	.seenews p {
		margin-top: 0;
	}
}

@media all and (max-width: 1032px) {
	/*Products*/
	.product {
		width: 70%;
	}

	/*Message*/
	.message-wrapper {
		padding-left: 0;
	}

	/*Team*/
	.marria {
		padding-bottom: 10%;
	}

	.seeteam p {
		margin: -10% auto; 
	}
}

@media all and (max-width: 1000px) {
	/*Top*/
	.top-wrapper {
		background-size: 75%;
	}

	.btn {
		font-size: 14px;
	}

	/*Products*/
	.sec-ttl {
		font-size: 26px;
	}
	
	.p-txt {
		font-size: 22px;
	}

	/*Message*/
	.seemes p {
		margin-left: 3%;
	}
}

@media all and (max-width: 980px) {
	/*Message*/
	.seemes p {
		margin-left: 5%;
	}
}

@media all and (max-width: 960px) {
	/*Products*/
	.products-wrapper {
		padding-bottom: 3%;
	}

	/*Message*/
	.message-wrapper {
		padding-left: 4%;
	}

	.message-lists {
		display: block;
	}

	.fa-clipboard-list, .fa-puzzle-piece {
		margin-top: 5%;
	}

	.m-ttl {
		font-size: 24px;
	}

	.m-li {
		font-size: 22px;
	}

	.seemes p {
		margin-left: 0;
		text-align: right; 
	}

	/*Team*/
	.marria {
		width: 60%;
	}

	/*News*/
	.news {
		display: block;
	}

	.news-pic {
		width: 60%;
		display: block;
    	margin: auto;
	}

	.news-right {
		padding-top: 0;
	}

	.nsd-1 {
    	padding-top: 3%;
	}

	.nsd-2 {
    	padding-top: 0;
    	padding-left: 3%;
	}

	.nsd-1 h3, .nsd-2-2 h3 {
    	margin-top: 3%;
	}

	.nsd-2-1 h3 {
    	margin-top: 4%;
	}

	.seenews p {
		margin: 3%;
	}
}


/*Tablet size*/
@media all and (max-width: 943px) {
	/*Top*/

	.top-wrapper h1 {
		font-size: 40px;
		width: 80%;
	}

	/*Partners*/
	.partners-icons {
		background: url(./images/joined_logos_2.png) no-repeat center;
		padding: 35% 0;
		background-size: 100%;
	}

	.p-icons-img {
		display: none;
	}
}

@media all and (max-width: 920px) {
	/*Top*/
	.top-wrapper {
		background-size: 80%;
		background-position: 50% 0;
	}
}

@media all and (max-width: 869px) {
	/*Top*/
	.top-wrapper {
		height: 450px;
	}

	.top-wrapper h1 {
		margin: 0;
	}

	.top-wrapper p {
		font-size: 22px;
		padding-top: 0;
		margin: 0;
	}

	.btn {
		font-size: 12px;
	}

	/*Products*/
	.product {
		width: 80%;
		padding-left: 7%;
	}

	/*Team*/
	.team-wrapper {
		padding-bottom: 20%;
	}

	.marria {
		width: 65%;
		padding-bottom: 11%;
	}
	
	.seeteam p {
		margin: -11% auto; 
	}

	/*News*/
	.news-pic {
		width: 65%;
	}
}

@media all and (max-width: 830px) {
	/*Top*/
	.top-wrapper {
		background-size: 85%;
	}

	/*Message*/
	.message-wrapper {
		padding: 5% 4% 4.5% 4%;
	}
}

@media all and (max-width: 797px) {
	/*Top*/
	.top-wrapper {
		height: 450px;
	}

	.top-wrapper h1 {
		font-size: 32px;
	}

	.top-wrapper p {
		margin-top: 0;
	}

	/*Products*/
	.product {
		width: 85%;
		padding-left: 8%;
	}

	/*Team*/
	.marria {
		width: 70%;
		padding-bottom: 12%;
	}
	
	.seeteam p {
		margin: -12% auto; 
	}

	/*News*/
	.news-pic {
		width: 70%;
	}

	.nsd-2-2 {
		display: none;
	}

	.nsd-1 h3, .nsd-2 h3 {
    	margin-top: 5%;
	}
}

@media all and (max-width: 760px) {
	/*Top*/
	.top-wrapper {
		height: 480px;
		background-size: 95%;
	}

	/*Team*/
	.marria-img {
		width: 55%;
	}

	/*News*/
	.news-pic {
		width: 75%;
	}

	.nsd-2-1 {
		display: none;
	}
}

@media all and (max-width: 740px) {
	/*Products*/
	.products-wrapper {
		padding-bottom: 4%;
	}

}

		
/*Smartphone size*/
@media all and (max-width: 714px) {
	/*Top*/
	.top-wrapper {
		background-size: 100%;
	}

	.btn {
		left: 70%;
	}

	/*Products*/
	.product {
		width: 90%;
	}

	/*Team*/
	.marria {
		width: 75%;
	}

	/*News*/
	.news-pic {
		width: 80%;
	}

	.seenews p {
    margin-top: 0%;
	}

	.seenews p {
		margin: 4%;
	}

	/*Partners*/
	.partners-icons {
		background: url(./images/joined_logos_2.png) no-repeat center;
		padding: 40% 0;
		background-size: 110%;
	}
}

@media all and (max-width: 699px) {
	/*Team*/
	.marria {
		padding: 3% 5% 13% 5%;
		width: 65%;
	}

	.marria-img {
		margin: 0 auto;
		padding: 10px 0;
	}

	.marria-text {
		text-align: center;
	}

	.marria-text h4 {
		margin: 0;
	}

	.marria-text h3 {
		margin: 5% auto;
	}

	.marria-text p {
		display: none;
	}
}

@media all and (max-width: 680px) {
	/*Top*/
	.top-wrapper {
		background-position: 50% -100%;
	}

	/*Team*/
	.team-wrapper {
		padding-bottom: 23%;
	}

	.marria {
		padding-bottom: 15%;
	}

	.seeteam {
		margin: -13% auto;
	}
}

@media all and (max-width: 660px) {
	/*Top*/
	.top-wrapper {
		background-position: 50% -1000%;
	}
}


@media all and (max-width: 656px) {
	/*Top*/
	.top-wrapper {
		background-position: 50% 70%;
	}

	.top-wrapper h1 {
		width: 83%;
		top: 80px;
	}

	.top-wrapper p {
		top: 230px;
	}

	/*Products*/
	.product {
		width: 100%;
	}

	/*Message*/
	.seemes p {
		margin-right: -3%;
	}

	/*News*/
	.news-pic {
		width: 100%;
	}

	.nsd-1 {
		display: block;
	}

	.nsd-1 h3 {
		margin-top: 2%;
	}

	.news p {
		border: none;
    	padding-left: 0%;
	}
}

@media all and (max-width: 633px) {
	/*Top*/
	.top-wrapper h1 {
		font-size: 28px;
	}

	.top-wrapper p {
		font-size: 20px;
	}

	.btn {
		left: 65%;
	}

	 /*Products*/
	.product {
		padding-left: 9%;
	}

	/*Team*/
	.marria {
		width: 75%;
	}

	/*News*/
	.news-wrapper {
		padding-bottom: 4%;
	}

	.seenews p {
		margin-top: 8%;
	}

	/*Partners*/
	.partners-icons {
		background: url(./images/joined_logos_3.png) no-repeat center;
		padding: 40% 0;
		background-size: 110%;
	}

}

@media all and (max-width: 565px) {
	/*Top*/
	.top-wrapper {
		height: 500px;
	}

	.top-wrapper h1 {
		width: 85%;
		letter-spacing: 0;
	}

	.btn {
		top: 87%;
	}

	/*Products*/
	.products-wrapper {
		padding-bottom: 5%;
	}

	/*Team*/
	.marria {
		width: 85%;
		padding-bottom: 16%;
	}

	.team-wrapper {
		padding-bottom: 24%;
	}

	.seeteam {
		margin: -14% auto;
	}

	/*News*/
	.news-wrapper {
		padding-bottom: 5%;
	}
}

@media all and (max-width: 541px) {
	/*Top*/
	.top-wrapper {
		height: 515px;
	}

	/*Team*/
	.marria {
		width: 85%;
		padding-bottom: 17%;
	}

	.team-wrapper {
		padding-bottom: 25%;
	}

	.seeteam {
		margin: -15% auto;
	}
}

@media all and (max-width: 517px) {
	/*Top*/
	.top-wrapper h1 {
		letter-spacing: 0;
	}

	/*Team*/
	.marria {
		width: 90%;
		padding-bottom: 18%;
	}

	.team-wrapper {
		padding-bottom: 26%;
	}

	.seeteam {
		margin: -16% auto;
	}

}

@media all and (max-width: 481px) {
	/*Top*/
	.top-wrapper h1 {
		font-size: 27px;
	}
}