/*PC size*/

@media (min-width: 1500px) {
	/*Top*/
	.top-wrapper p {
		width: 80%;
	}
}

@media (max-width: 1499px) {
	/*Top*/
	.top-wrapper {
		background-size: 50%;
	}
}

@media (max-width: 1400px) {
	/*Top*/
	.top-wrapper {
		background-size: 55%;
	}
}

@media (max-width: 1330px) {
	/*Team*/
	.marria-img {
		width: 90%;
	}
}

@media (max-width: 1308px) {
	/*Team*/
	.marria-text {
		width: 280%;
	}

}

@media (max-width: 1300px) {
	/*Top*/
	.top-wrapper {
		background-size: 60%;
	}
}

@media (max-width: 1250px) {
	/*Team*/
	.marria-text {
		width: 250%;
	}
}

@media (max-width: 1200px) {
	/*Top*/
	.top-wrapper {
		background-size: 65%;
	}
}

@media (max-width: 1194px) {
	/*Top*/
	.top-wrapper h1 {
		/*font-size: 45px;*/
		width: 75%;
	}

	.btn {
		left: 75%;
	}

	/*Products*/
	.product {
		width: 65%;
	}

	/*Team*/
	.marria {
		display: block;
		width: 50%;
		margin: 5% auto 3% auto;
		padding: 3% 4% 2% 4%;
	}

	.marria-img {
		width: 55%;
		margin: 0 auto;
		padding-bottom: 10px;
	}

	.marria-text {
		width: 93%;
		text-align: center;
	}

	.marria-text h3 {
		margin: 3% auto;
	}

	/*News*/
	.nsd-2-3 {
		display: none;
	}

	.seenews p {
	margin-top: -2%;
	}
}

@media (max-width: 1100px) {
	/*Top*/
	.top-wrapper {
		background-size: 70%;
	}

	/*Products*/
	.product {
		padding-left: 6%;
	}

	/*Team*/
	.marria {
		width: 55%;
	}
}

@media (max-width: 1086px) {
	/*Top*/
	.top-wrapper {
		height: 500px;
	}

	.top-wrapper h1 {
		font-size: 45px;

	}

	.top-wrapper p {
		font-size: 24px;
	}

	.btn {
		padding: 12px;
	}

}

@media (max-width: 1040px) {
	/*Top*/
	.btn {
		top: 85%;
	}
}

@media (max-width: 1032px) {
	/*Products*/
	.product {
		width: 70%;
	}

	/*Message*/
	.message-wrapper {
		padding-left: 0;
}

@media (max-width: 1000px) {
	/*Top*/
	.top-wrapper {
		background-size: 75%;
	}
}

@media (max-width: 960px) {
	/*Message*/
	.message-wrapper {
		padding-left: 4%;
	}

	.message-lists {
		display: block;
	}

	.fa-clipboard-list, .fa-puzzle-piece {
		margin-top: 5%;
	}

	.m-ttl {
		font-size: 24px;
	}

	.m-li {
		font-size: 22px;
	}

	/*Team*/
	.marria {
		width: 60%;
	}

	/*News*/
	.news {
		display: block;
	}

	.news-pic {
		width: 60%;
		display: block;
    	margin: auto;
	}

	.news-right {
		padding-top: 0;
	}

	.nsd-1 {
    	padding-top: 3%;
	}

	.nsd-2 {
    	padding-top: 0;
    	padding-left: 3%;
	}

	.nsd-1 h3, .nsd-2-2 h3 {
    	margin-top: 3%;
	}

	.nsd-2-1 h3 {
    	margin-top: 4%;
	}
}


/*Tablet size*/
@media (max-width: 943px) {
	/*Top*/
	.top-wrapper {
		background-position: 50% -100%;
	}

	.top-wrapper h1 {
		font-size: 40px;
		width: 80%;
	}

	/*Partners*/
	.partners-icons {
		background: url(./images/joined_logos_2.png) no-repeat center;
		padding: 35% 0;
		background-size: 100%;
	}

	.p-icons-img {
		display: none;
	}
}

@media (max-width: 920px) {
	/*Top*/
	.top-wrapper {
		background-size: 80%;
		background-position: 50% -50%;
	}
}

@media (max-width: 869px) {
	/*Top*/
	.top-wrapper {
		height: 480px;
	}

	.top-wrapper h1 {
		margin-top: 0;
	}

	.top-wrapper p {
		font-size: 22px;
		padding-top: 0;
	}

	/*Products*/
	.product {
		width: 80%;
		padding-left: 7%;
	}

	/*Team*/
	.marria {
		width: 65%;
	}

	/*News*/
	.news-pic {
		width: 65%;
	}
}

@media (max-width: 840px) {
	/*Top*/
	.top-wrapper {
		background-position: 50% -100%;
	}
}

@media (max-width: 830px) {
	/*Top*/
	.top-wrapper {
		background-size: 85%;
		background-position: 50% -50%;
	}
}

@media (max-width: 797px) {
	/*Top*/
	.top-wrapper {
		height: 450px;
		background-position: 50% 0;
	}

	.top-wrapper h1 {
		font-size: 32px;
	}

	.top-wrapper p {
		margin-top: 0;
	}

	/*Products*/
	.product {
		width: 85%;
		padding-left: 8%;
	}

	/*Team*/
	.marria {
		width: 70%;
	}

	/*News*/
	.news-pic {
		width: 70%;
	}

	.nsd-2-2 {
		display: none;
	}

	.nsd-1 h3, .nsd-2 h3 {
    	margin-top: 5%;
	}

}

@media (max-width: 760px) {
	/*Team*/
	.marria-img {
		width: 55%;
	}

	/*News*/
	.news-pic {
		width: 75%;
	}

	.nsd-2-1 {
		display: none;
	}
}

@media (max-width: 740px) {
	/*Top*/
	.top-wrapper {
		background-size: 90%;
	}
}

		
/*Smartphone size*/
@media (max-width: 714px) {
	/*Top*/
	.top-wrapper {
		height: 480px;
		background-size: 100%;
	}

	.btn {
		left: 70%;
	}

	/*Products*/
	.product {
		width: 90%;
	}

	/*Team*/
	.marria {
		width: 75%;
	}

	/*News*/
	.news-pic {
		width: 80%;
	}

	.seenews p {
    margin-top: 0%;
	}

	/*Partners*/
	.partners-icons {
		background: url(./images/joined_logos_2.png) no-repeat center;
		padding: 40% 0;
		background-size: 110%;
	}
}

@media (max-width: 699px) {
	/*Team*/
	.marria {
		padding: 5% 0;
		width: 65%;
	}

	.marria-img {
		margin: 0 auto;
		padding: 10px 0;
	}

	.marria-text {
		text-align: center;
	}

	.marria-text h3 {
		margin: 5% auto;
	}

	.marria-text p {
		display: none;
	}
}

@media (max-width: 680px) {
	/*Top*/
	.top-wrapper {
		background-position: 50% -100%;
	}
}

@media (max-width: 660px) {
	/*Top*/
	.top-wrapper {
		background-position: 50% -1000%;
	}
}


@media (max-width: 656px) {
	/*Top*/
	.top-wrapper {
		background-position: 50% 70%;
	}

	.top-wrapper h1 {
		width: 83%;
		top: 80px;
	}

	.top-wrapper p {
		top: 230px;
	}

	/*Products*/
	.product {
		width: 100%;
	}

	/*News*/
	.news-pic {
		width: 100%;
	}

	.nsd-1 {
		display: block;
	}

	.nsd-1 h3 {
		margin-top: 2%;
	}

	.news p {
		border: none;
    	padding-left: 0%;
	}
}

@media (max-width: 633px) {
	/*Top*/
	.top-wrapper h1 {
		font-size: 28px;
	}

	.top-wrapper p {
		font-size: 20px;
	}

	.btn {
		left: 65%;
	}

	 /*Products*/
	.product {
		padding-left: 9%;
	}

	/*Team*/
	.marria {
		width: 75%;
	}

	/*Partners*/
	.partners-icons {
		background: url(./images/joined_logos_3.png) no-repeat center;
		padding: 40% 0;
		background-size: 110%;
	}
}

}

@media (max-width: 565px) {
	/*Top*/
	.top-wrapper h1 {
		width: 85%;
	}

	/*Team*/
	.marria {
		width: 85%;
	}
}

@media (max-width: 552px) {
	/*Top*/
	.top-wrapper h1 {
		letter-spacing: 1px;
	}
}

@media (max-width: 541px) {
	/*Top*/
	.top-wrapper {
		height: 515px;
	}
}

@media (max-width: 517px) {
	/*Top*/
	.top-wrapper h1 {
		letter-spacing: 0;
	}

	/*Team*/
	.marria {
		width: 90%;
	}

}

@media (max-width: 481px) {
	/*Top*/
	.top-wrapper h1 {
		font-size: 27px;
	}
}