/*Top*/
.top-wrapper {
	height: 500px;
	background-image: url(./images/montreal2.jpg);
  	background-size: cover;
  	background-position: 50% 30%; /*x y*/
}

/*Team Co-founders*/
.team-wrapper {
	padding: 2% 4% 3% 4%;
	background-color: rgba(246, 246, 246, 0.8);
}

.team-wrapper .heading {
	border-bottom: 3px solid rgba(50, 100, 170, 0.5);
}

.team-des {
	display: flex;
	padding: 30px 40px;
	border: 1px solid #fff;
	margin: 5% 2% 3% 2%; 
	box-shadow: 1px 1px 6px 3px #E3E3E3;
	background-color: #fff;
	align-items: center;
}

.img {
	padding: 10px 20px 10px 0;
}

.pic {
	width: 210px;
	height: auto;
}

.pic-lp {
	margin: 10px 0 10px 0;
}

.pic-ben {
	margin: 10px 0 10px 0;
}

.text {
	flex-wrap: wrap;
	margin: auto;
	margin-left: 3.5%;
	margin-right: 2%;
}

.text h3 {
	width: 160px;
	border-bottom: 3px solid #E3E3E3;
	padding-bottom: 5px;
}

.text h4 {
	font-size: 17px;
	color:#666;
	margin-top: 0;
	margin-bottom: 0;
}

.text p {
	font-size: 19px;
	text-align: justify;
	margin-top: 2%;
}

.text-lp h3 {
	width: 195px;
}

.text-ben h3 {
	width: 165px;
}

/*Interns*/
.interns-inner {
	display: flex;
	flex-wrap: wrap;
	padding: 2% 4%;
	justify-content: center;
}

.interns-des {
	width: 250px;
	padding: 2%;
	text-align: center;
}

.interns-pic {
	width: 85%;
	height: auto;
}

.interns-text h3 {
	margin: 2% 0;
	font-size: 18px;
}

.interns-text h4 {
	font-size: 17px;
	color:#666;
	margin: 0;
}


/*Responsive design*/
@media all and (max-width: 1203px) {
	.pic-ben {
    	padding-top: 11px;
    }
}

@media all and (max-width: 1074px) {
    .pic-ben {
    	padding-top: 18px;
    }
}

@media all and (max-width: 1050px) {
	.team-des {
    	display: block;
    	text-align: center;
    	width: 70%;
    	margin: 5% auto;
    	padding: 30px;
    }

    .text h3 {
    	margin: 0 auto 3% auto;
    }

    .text p {
    	margin-bottom: 0;
    }

    .img, .pic {
    	padding: 0;
    }

    .pic {
    	margin: 0 0 4% 0;
    }
}

@media all and (max-width: 869px) {
	.top-wrapper {
		height: 450px;
	}

	.team-des {
    	width: 80%;
    }
}

@media all and (max-width: 849px) {
	.team-des {
    	width: 85%;
    }
}

@media all and (max-width: 755px) {
	.team-des {
    	width: 90%;
    }
}

@media all and (max-width: 715px) {
	.text h3 {
		font-size: 18px;
	}
}

@media all and (max-width: 699px) {
	.top-wrapper {
		height: 400px;
	}
}

@media all and (max-width: 599px) {
	.heading h2 {
		font-size: 22px;
	}
}

@media all and (max-width: 565px) {
	.team-des {
    	width: 95%;
    }
}

@media all and (max-width: 529px) {
	.team-des {
    	width: 100%;
    }
}

@media all and (max-width: 509px) {
	.top-wrapper {
		height: 350px;
	}
}

@media all and (max-width: 500px) {
	.pic {
		width: 195px;
		height: 195px;
	}
}

@media all and (max-width: 449px) {
	.pic {
		width: 190px;
		height: 190px;
	}

	.text h3 {
		font-size: 17.5px;
	}

	.text h4 {
		font-size: 15px;
		padding-bottom: 3%;
	}
}

@media all and (max-width: 414px) {
	.pic {
		width: 180px;
		height: 180px;
	}
}
