/*Top*/
.top-wrapper {
	height: 500px;
	background-image: url(./images/montreal1.jpg);
  	background-size: cover;
  	background-position: 50%; /*x y*/
  }

/*Technology*/
.tech-wrapper {
	padding: 2% 4% 3% 4%;
	background-color: rgba(246, 246, 246, 0.8);
}

.tech-wrapper .heading {
	border-bottom: 3px solid rgba(50, 100, 170, 0.5);
}

.tech-des-wrapper {
	padding: 0 3%;
}

.tech-des1, .tech-des2, .tech-des3 {
	display: flex;
	align-items: center;
	text-align: justify;
}

.tech-des2 {
	border-top: 3px solid #e5e5e5;
	border-bottom: 3px solid #e5e5e5;
	padding: 5% 0;
	margin: 1% 0;
}

.tech-des3 {
	padding: 3% 0;
}

.tech-des1 p, .tech-des2 p, .tech-des3 p {
	font-size: 22px;
}

.tech-pic1 {
	width: 35%;
	height: auto;
	margin-left: 5%;
}

.tech-pic2 {
	width: 45%;
	height: auto;
	margin-right: 3.5%;
}

.tech-pic3 {
	width: 25%;
	height: auto;
	margin-left: 8%;
}


/*Responsive design*/
@media all and (max-width: 869px) {
	.top-wrapper {
		height: 450px;
	}
}

@media all and (max-width: 699px) {
	.top-wrapper {
		height: 400px;
	}

	.tech-des1, .tech-des2, .tech-des3 {
    	flex-direction: column;
    }

    .tech-des1, .tech-des3 {
    	flex-direction: column-reverse;
    }

    .tech-des1 p {
    	margin-top: 0;
	}

    .tech-pic1 {
    	width: 80%;
    	height: auto;
    	margin: 0 auto;
    }

    .tech-pic2 {
    	width: 100%;
    	height: auto;
    	margin: 0 auto;
    }

    .tech-pic3 {
    	width: 60%;
    	height: auto;
    	margin: 3% auto;
    }
}

@media all and (max-width: 599px) {
	.heading h2 {
		font-size: 22px;
	}
}


@media all and (max-width: 509px) {
	.top-wrapper {
		height: 350px;
	}
}