/*Top*/
.top-wrapper {
	height: 500px;
	background-image: url(../images/montreal_map.jpg);
  	background-size: cover;
  	background-position: 50% 50%; /*x y*/
  }


/*Contact*/
.contact-wrapper {
	padding: 2% 4% 3% 4%;
	background-color: rgba(246, 246, 246, 0.8);
}

.contact-wrapper .heading {
	border-bottom: 3px solid rgba(50, 100, 170, 0.5);
}

.contact-wrapper p {
	font-size: 20px
}

.con-icons {
	display: flex;
	padding: 2% 0 2% 0;
	justify-content: center;
}

.con-icon {
	width: 25%;
	box-shadow: 1px 1px 6px 3px #E3E3E3;
	/*border: 3.5px solid rgba(102, 102, 102, 0.8);*/
	margin: 2%;
	background-color: #fff;
	text-align: center;
	padding: 3%;
}


.fa-phone-flip, .fa-envelope, .fa-location-dot, .fa-calendar-check {
	font-size: 50px;
	color: rgba(102, 102, 102, 0.9);
}

.con-ttl {
	font-weight: bold;
}

.con-ttle {
	padding-top: 10%;
}

.con-txt {
	font-weight: bold;
	font-size: 19px;
	color: rgba(102, 102, 102, 0.9);
}

.con-icon a:hover {
	color: #4774B6;
}

/*Contact-form*/
.sec2and3 {
	display: flex;
	/*flex-wrap: wrap;*/
	padding: 3%0 5% 0;
	justify-content: center;
}

.sec3 {
	padding-left: 5%;
}

.form {
	width: 500px;
	height: 550px;
	box-shadow: 1px 1px 6px 3px #E3E3E3;
	/*border: 1px solid #000;*/
	background-color: rgba(0, 0, 0, 0.8);
}

.map {
	width: 500px;
	height: 550px;
}

.form-inner {
	padding: 2% 0 5% 9%;
}

.form p {
	color: #fff;
	padding-top: 15px;
	font-size: 18px;
}

.inputs {
  width: 400px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

.button {
	text-align: center;
}

.button input {
	width: 90px;
	height: 40px;
	margin: 2% auto;
	cursor: pointer;
}

.map {
	box-shadow: 1px 1px 6px 3px #E3E3E3;
}


/*Responsive design*/
@media all and (max-width: 1100px) {
	.sec2and3 {
    	flex-wrap: wrap;
	}

	.sec3 {
    	padding: 5% 0 0 0;
    }
}

@media all and (max-width: 869px) {
	.top-wrapper {
		height: 450px;
	}

	.con-icons {
		flex-wrap: wrap;
	}

	.con-icon {
		width: 30%;
	}
}

@media all and (max-width: 835px) {
	.con-icon {
		width: 50%;
	}
}

@media all and (max-width: 699px) {
	.top-wrapper {
		height: 400px;
	}

	.form, .map {
		width: 400px;
		height: 520px;
	}

	.inputs {
		width: 320px;
	}
}

@media all and (max-width: 599px) {
	.heading h2 {
		font-size: 22px;
	}
}

@media all and (max-width: 509px) {
	.top-wrapper {
		height: 350px;
	}

	.form, .map {
		width: 350px;
		height: 490px;
	}

	.inputs {
		width: 280px;
	}

	.form p {
    	padding-top: 5px;
    
	}
}

@media all and (max-width: 400px) {
	.form, .map {
		width: 300px;
		height: 460px;
	}

	.inputs {
		width: 240px;
	}

	.form p {
    	font-size: 16px;
	}
}